:root {
	--body-color: #F0F0F0;
	--nav-color: #FFFFFF;
	--shadow-color: rgba(0, 0, 0, 0.5);
}

body {
	/* background-image: url("pexels-stephan-seeber-1261728.jpg"); */
	  margin: 0;
	  background-color: var(--body-color);
}

.header {
	/* background-color: #B9CFE6; */
	align: center;
}
.navbar {
	overflow: hidden;
	position: relative;
	display: block;
	width: 100%;
	height: 70px;
     box-shadow: 1px 0px 1px 0 rgba(1, 0, 0, 0.5), 0 2px 15px 0 rgba(0, 0, 0, 0.5);
  	background-color: var(--nav-color);


}

.form_nav {
	display: relative;
	height: 100%;
}

.link {
	position: relative;
	display: inline-block;
	text-decoration: none;
	background-color: white;
	border: none;
	top: 35%;

	padding-left: 20px;
	padding-right: 20px;
	color: black;
}
.link::before,
.link::after {
	content: '';
	position:absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #0E86D4;
	transform: scaleX(0);
	transition: transform .25s;
}
.link::before {
	top: -3px;
	transform-origin: left;
}
.link::after {
	bottom: -3px;
	transform-origin: -3px;
	transform-origin: right;
}
.link:hover::before,
.link:hover::after {
	transform: scaleX(1);
}

.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px
}
.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}

.search {
	border-radius: 5px;
	position:absolute;
	margin: 0;
	top: 50%;
	width: 300px;
	height: 35px;
	right: 20px;
	background: #f0f0f0;
	display: flex;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.search:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background: #0170F0;
	transform: scaleX(0);
	transform-origin: center;
	transform-origin: left;
	transition: transform .25s;
}

.search:focus-within::before {
	transform: scale(1);
}

.search input,
.search button {
	border: none;
	outline: none;
	background-color: transparent;
	color: #8e8e8e;
}

.input {
	width: 100%;
	padding: 10px;
}

.button {
	display: grid;
	place-items: center;
	width: 50px;
	font-size: 19px;
	cursor: pointer;
	transition: color .25s;
}

.button:hover {
	color: #0170F0;
}

.date_header {
	position:relative;
	padding-top: 10px;
}

.search_date {
	border-radius: 5px;
	/* overflow: hidden; */
	position: relative;
	top: 0; bottom: 0; right: 0 left: 0;
     margin: auto;
	/* margin: 0; */
	/* justify-content: center; */
	width: 300px;
	height: 30px;
	background: #f0f0f0;
	float: center;
	display: flex;
	/* animation: anime 2s cubic-bezier(0.1, 1, 0.1, 1) 0s; */
}
.fromto {
	display: inline-block;
	margin-top: auto;
	margin-bottom: auto;
}

/* @keyframes anime {
	0% {
	  width: 25px;
	  height: 25px;
	  background: #f0f0f0;

	}

	100% {
	  width: 300px;
	  height: 25;
	  background: #f0f0f0;

	}
} */

.search_date input,
.search_date button {
	border: none;
	outline: none;
	background-color: transparent;
	color: #8e8e8e;
}

input[type="date"] {
	color: #444444;
}

.date_form {
	width: 100%;
	padding: 15px;

}

.button_date:hover {
	color: #0170F0;
}

.button_date:hover {
	color: #0170F0;
}

.button_date {
	display: grid;
	place-items: center;
	width: 50px;
	padding-right: 15px;
	font-size: 19px;
	cursor: pointer;
	transition: color .25s;
}

.form-control{
	height: 50px;
	font-size: 16px;
	color: #414D64;
	background: #ffffff;
	padding: 0 15px;
	border: 2px solid #DADEEA;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-align: center;
}
textarea.form-control{
	height: 120px;
	padding-top: 15px;
}
.form-control-plaintext{
	font-size: 18px;
	color: #434343;
}
button.form-control{
	text-overflow: ellipsis;
	overflow: hidden;
}
.form-control:focus{
	border-color: #37B448;
	-webkit-box-shadow: 0px 2px 6px rgba(55, 180, 72, .15);
	-moz-box-shadow: 0px 2px 6px rgba(55, 180, 72, .15);
	box-shadow: 0px 2px 6px rgba(55, 180, 72, .15);
}

.datebar {
	/* display: inline-block; */
	position: absolute;
	float: right;
	/* white-space: nowrap; */
	/* overflow: hidden; */
	/* top: 35px; */
	/* height: 25px;
	top: 10px; */
	/* position: relative; */
	right: 20px;
	top: 37px;
	/* left: 20px; */

}
.dateform {
	position:relative;
	/* top: 37px; */
	/* bottom: 50%; */
	float: right;
}
table {
	box-shadow: 0 4px 8px 0 rgba(1, 1, 0, 0.1), 0 6px 20px 0 rgba(1, 1, 0, 0.1);
	table-layout:fixed;
	/* border: 1px solid #1c87c9; */
	border-radius: 7px;
	border-width: 1px;
	border-color: #6496C8;
	border-collapse: collapse;
	color: #000000;
	font-family: Times New Roman;
	font-size: 17px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	/* width: 80%; */
}

table th:first-child{
  border-radius:7px 0 0 0px;
}

table th:last-child{
  border-radius:0 7px 0px 0;
}

.Datum { width: 12%; }
.År { width: 5%; }
.Vecka { width: 6%; }
.Minuter { width: 6%; }
.Sekunder { width: 6%; }
.Tid { width: 6%; }
.Antal { width: 6%; }
.Larm { width: 40%; }
.date_start { width: 10%; }
.date_end { width: 10%; }
.kassV { width: 4%; }
.kassH { width: 4%; }
.artikelnummer { width: 8%; }
.Kass { width: 9%; }

td:hover {
	overflow: visible;
}

th {
	background-color: #6496C8;
	color: white;
}

td {
	white-space: nowrap;
 	overflow: hidden;
  	text-overflow: ellipsis;
}

tr:nth-child(even) {
	background-color: #F2F2F2
}

tr:hover {
     background-color: #B9CFE6

}

.wrapperProd {
	width: 80%;
	/* height: 800px; */
	top: 30px;
	bottom: 50px;
	position: relative;
	background: var(--nav-color);
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 50px;
	padding-right: 50px;
	box-shadow: 0px 0px 10px 3px var(--shadow-color);
	border-radius: 7px;
	margin-top: 25px;
	margin-bottom: 150px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	animation:fadeDown .2s forwards;
	animation-delay:0.1s;
	opacity:0;
	color:#09203f;
	transform:translateY(-20px);
}

.wrapper {
	width: 85%;
	/* height: 800px; */
	top: 30px;
	bottom: 50px;
	position: relative;
	background: var(--nav-color);
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 50px;
	padding-right: 50px;
	box-shadow: 0px 0px 10px 3px var(--shadow-color);
	border-radius: 7px;
	margin-top: 25px;
	margin-bottom: 150px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	animation:fadeDown .2s forwards;
	animation-delay:0.1s;
	opacity:0;
	color:#09203f;
	transform:translateY(-20px);
}

.wrapperRecent {

	width: 50%;
	/* height: 800px; */
	top: 30px;
	bottom: 50px;
	position: relative;
	background: var(--nav-color);
	padding-top: 15px;
	padding-bottom: 50px;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 0px 0px 10px 3px var(--shadow-color);
	border-radius: 7px;
		margin-top: 25px;
	margin-bottom: 150px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	animation:fadeDown .2s forwards;
	animation-delay:0.3s;
	opacity:0;
	color:#09203f;
	transform:translateY(-20px);

}

.prodChart {
	/* display: inline-block;
	overflow: hidden; */
	/* width: 10%; */
	height: 500px;
	padding-bottom: 15px;
}

.date {
	margin-left: 0px;
	border: none;
	background: #DBE2E9;
	border-radius: 2px;
}


.wrapperProdchart {
	width: 85%;
	height: 650px;
	/* top: 50px; */
	position: relative;
	background-color: var(--nav-color);
	box-shadow: 0px 0px 12px 5px var(--shadow-color);
	margin: 120px auto 0 auto;
	overflow: hidden;
	border-radius: 7px;
}
.utvl {
	display: inline-block;
	width: 50%;
	height: 250px;
     float:left;
	overflow: hidden;
	background-color: var(--nav-color);
}

.utvr {
	display: inline-block;
	width: 50%;
	height: 250px;
	float: right;
     overflow: hidden;
	background-color: var(--nav-color);
	overflow: hidden;
}

.wrapperUtv {
	width: 90%;
	/* height: 800px; */
	height: 700px;
	top: 10px;
	bottom: 50px;
	position: relative;
	background: white;
	padding-left: 25px;
	padding-right: 25px;
	/* box-shadow: 0px 0px 10px 3px #888888; */
	border-radius: 7px;
	margin-bottom: 75px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.decUtv {
	display: inline-block;
	width: 50%;
     float:left; /* add this */
	overflow: hidden;
	/* padding-left: 50px;
	padding-right: 50px; */
	/* margin: 0 auto; */
	margin-top: 0px;
	margin-right:0px;
	margin-left:0px;
	height: 700px;

	/* position: fixed; */
	/* background-color: rgb(255,255,255); */
	/* box-shadow: 1px 0px 1px 0 rgba(0, 0, 0, 0.5), 0 2px 15px 0 rgba(0, 0, 0, 0.5); */
	/* box-shadow: 0px 0px 10px 0px #888888; */

}

.incUtv {
	display: inline-block;
	width: 50%;
	float: right;
     overflow: hidden;
	margin-top: 0px;
	margin-right:0px;
	margin-left:0px;
	height: 700px;
	overflow: hidden;
}

.inline {
	display:inline-block;
}

.recentPeriod {
	margin-bottom: 0;
}

@keyframes fadeDown{
  0%{
    opacity:0;
    transform:translateY(-20px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}
}
